In [28]:
import pandas as pd
import matplotlib.pyplot as plt

In [29]:
country_mapping = {
    'CA': 'Canada',
    'AU': 'Australia',
    'CI': "Cote D'ivoire",
    'PK': 'Pakistan',
    'AF': 'Afghanistan',
    'KE': 'Kenya',
    'MQ': 'Martinique',
    'GB': 'United Kingdom',
    'SK': 'Slovakia',
    'CZ': 'Czech Republic',
    'DE': 'Germany',
    'FR': 'France',
    'HR': 'Croatia',
    'PL': 'Poland',
    'ZA': 'South Africa',
    'CH': 'Switzerland',
    'NG': 'Nigeria',
    'SE': 'Sweden',
    'IE': 'Ireland',
    'ES': 'Spain',
    'MX': 'Mexico',
    'IN': 'India',
    'LT': 'Lithuania',
    'GH': 'Ghana',
    'BD': 'Bangladesh',
    'SI': 'Slovenia',
    'HK': 'Hong Kong',
    'NO': 'Norway',
    'NL': 'Netherlands',
    "Cote D'ivoire": "Cote D'ivoire",
    'DO': 'Dominican Republic',
    'PT': 'Portugal',
    'PH': 'Philippines',
    'MY': 'Malaysia',
    'SG': 'Singapore',
    'AT': 'Austria',
    'IT': 'Italy',
    'DK': 'Denmark',
    'TR': 'Turkey',
    'BR': 'Brazil',
    'MA': 'Morocco',
    'TH': 'Thailand',
    'NZ': 'New Zealand',
    'JM': 'Jamaica',
    'KW': 'Kuwait',
    'VN': 'Vietnam',
    'QA': 'Qatar',
    'PE': 'Peru',
    'AL': 'Albania',
    'BB': 'Barbados',
    'RO': 'Romania',
    'BN': 'Brunei',
    'BH': 'Bahrain',
    'U.A.E.': 'United Arab Emirates',
    'RU': 'Russia',
    'CL': 'Chile',
    'MV': 'Maldives',
    'MT': 'Malta',
    'PG': 'Papua New Guinea',
    'UZ': 'Uzbekistan',
    'BG': 'Bulgaria',
    'CO': 'Colombia',
    'LR': 'Liberia',
    'AG': 'Antigua and Barbuda',
    'ZM': 'Zambia',
    'MU': 'Mauritius',
    'AI': 'Anguilla',
    'SA': 'Saudi Arabia',
    'TZ': 'Tanzania',
    'EE': 'Estonia',
    'KR': 'South Korea',
    'KH': 'Cambodia',
    'KY': 'Cayman Islands',
    'JO': 'Jordan',
    'BT': 'Bhutan',
    'MD': 'Moldova',
    'HT': 'Haiti',
    'VC': 'Saint Vincent and The Grenadine',
    'DM': 'Dominica',
    'ME': 'Montenegro',
    'MK': 'North Macedonia',
    'MZ': 'Mozambique',
    'HU': 'Hungary',
    'MN': 'Mongolia',
    'IS': 'Iceland',
    'AR': 'Argentina',
    'EC': 'Ecuador',
    'GU': 'Guam',
    'AW': 'Aruba',
    'PF': 'French Polynesia',
    'LS': 'Lesotho',
    'LU': 'Luxembourg',
    'KN': 'Saint Kitts and Nevis',
    'SX': 'Netherlands',
    'Sint Maarten (Dutch part)' : 'Netherlands',
    'VI': 'Virgin Islands (U.S.)',
    'PY': 'Paraguay',
    'FJ': 'Fiji',
    'GD': 'Grenada',
    'GY': 'Guyana',
    'MF': 'France',
    'TW': 'Taiwan',
    'MW': 'Malawi',
    'GF': 'French Guiana',
    'BJ': 'Benin',
    'GP': 'Guadeloupe',
    'TC': 'Turks and Caicos Islands',
    'BZ': 'Belize',
    'SV': 'El Salvador',
    'BO': 'Bolivia',
    'SN': 'Senegal',
    'GN': 'Guinea',
    'CR': 'Costa Rica',
    'ML': 'Mali',
    'BM': 'Bermuda',
    'BQ': 'Bonaire, Sint Eustatius and Saba',
    'AD': 'Andorra',
    'OM': 'Oman',
    'PM': 'Saint Pierre and Miquelon',
    'RE': 'Reunion',
    'LC': 'Saint Lucia',
    'NC': 'New Caledonia',
    'Kosovo': 'Kosovo',
    'Japan': 'Japan',
    'China': 'China',
    'Venezuela': 'Venezuela',
    'Trinidad and Tobago': 'Trinidad and Tobago',
    'United+Kingdom': 'United Kingdom',
    'Hong+Kong': 'Hong Kong',
    'South+Africa': 'South Africa',
    'Puerto Rico': 'Puerto Rico',
    'Sao Tome and Principe': 'Sao Tome and Principe',
    'French Polynesi': 'French Polynesia',
    'United Arab Emi': 'United Arab Emirates',
    'Hong Kong S.A.R.': 'Hong Kong',
    'Runion--trunc': 'Reunion',
    'Virgin Islands': 'Virgin Islands (U.S.)',
    'Iran': 'Iran',
    'Bosnia and Herz': 'Bosnia and Herzegovina',
    'Saint Vincent a': 'Saint Vincent and The Grenadine',
    'Papua New Guine': 'Papua New Guinea',
    'Myanmar': 'Myanmar',
    'Zimbabwe': 'Zimbabwe',
    'Sierra Leone': 'Sierra Leone',
    'Syria': 'Syria',
    'Trinidad and To': 'Trinidad and Tobago',
    'Palestine': 'Palestine',
    'Burundi': 'Burundi',
    'Laos': 'Laos',
    'Dominican Repub': 'Dominican Republic',
    'United States M': 'United States',
    'Antigua and Bar': 'Antigua and Barbuda',
    'Palau': 'Palau',
    'Djibouti': 'Djibouti',
    'Curaçao': 'Curacao',
    'Swaziland': 'Eswatini',
    'Palestinian Authority': 'Palestine',
    'Mauritania': 'Mauritania',
    'Monaco': 'Monaco',
    'Åland Islands': 'Aland Islands',
    'Gibraltar': 'Gibraltar',
    'Armenia': 'Armenia',
    'Seychelles': 'Seychelles',
    'Paraguay': 'Paraguay',
    'Equatorial Guin': 'Equatorial Guinea',
    'Kyrgyzstan': 'Kyrgyzstan',
    'Faroe Islands': 'Faroe Islands',
    'Antarctica': 'Antarctica',
    'United States': 'United States',
    'Wallis and Futu': 'Wallis and Futuna',
    'Eritrea': 'Eritrea',
    'Turks and Caico': 'Turks and Caicos Islands',
    'land Islands--trunc': 'land Islands',  # Truncated, assuming Åland Islands
    'Congo (Republic': 'Republic of the Congo',
    'Chad': 'Chad',
    'Samoa': 'Samoa',
    'Sao Tome and Pr': 'Sao Tome and Principe',
    'Tonga': 'Tonga',
    'Tahiti': 'French Polynesia',  # Assuming Tahiti is part of French Polynesia
    'Åland Islands': 'Aland Islands',
    'Nauru': 'Nauru',
    'Taiwan': 'Taiwan',
    'Solomon Islands': 'Solomon Islands',
    'Comoros': 'Comoros',
    'NigeriaHouse no 3 Pre': 'Nigeria',  # Unclear data, assuming Nigeria
    'Tajikistan': 'Tajikistan',
    'Nicaragua': 'Nicaragua',
    'Curaçao': 'Curacao',
    'Kiribati': 'Kiribati',
    'Saint Martin (F': 'Saint Martin',
    'Bonaire, Sint E': 'Bonaire, Sint Eustatius and Saba',
    'Saint Kitts and': 'Saint Kitts and Nevis',  # Incomplete entry, assuming Nevis
    'South Georgia a': 'South Georgia and The South Sandwich Islands',  # Incomplete entry, assuming South Sandwich Islands
    'British Indian': 'British Indian Ocean Territory',
    'Guernsey': 'Guernsey',
    'Liechtenstein': 'Liechtenstein',
    'Greenland': 'Greenland',
    'French Southern': 'France',
    'YT' : 'France',
    'Korea': 'South Korea',  # Assuming South Korea
    'BS': 'The Bahamas',
    'ID': 'Indonesia',
    'RÃ©union': 'France',  # Assuming Réunion is part of France
    'AE': 'United Arab Emirates'
}

In [30]:
# Read the CSV file into a DataFrame
login_dataframe = pd.read_csv("Dataset/login.csv")

# Remap the 'country' column using the country_mapping dictionary
login_dataframe['country'] = login_dataframe['country'].map(country_mapping).fillna(login_dataframe['country'])

# Remove the 'account_currency' and 'reg_date' columns
login_dataframe.drop(columns=['account_currency'], inplace=True)

login_dataframe.head()

    login  country    reg_date
0  457547  Romania  1614212132
1  474589   Canada  1609987442
2  504321   Canada  1602642710
3  504322   Canada  1602736545
4  504326   Canada  1603093152

In [31]:
# Convert startDate and endDate to datetime objects
startDate = pd.to_datetime("2023-01-01")
endDate = pd.to_datetime("2023-02-01")

# Read the CSV file into DataFrame
trades_dataframe = pd.read_csv("Dataset/trades.csv")

In [32]:
# Convert close_time to Timestamp if it's not already
trades_dataframe['close_time'] = pd.to_datetime(trades_dataframe['close_time'], unit='s')

# Grouping by 'login' and finding the maximum 'close_time' from the unfiltered dataset
last_trade_time_per_login = trades_dataframe.groupby('login')['close_time'].max()

# Filter DataFrame based on close_time
filtered_df = trades_dataframe[(trades_dataframe['close_time'] >= startDate) & (trades_dataframe['close_time'] <= endDate)]

# Now perform your desired operations on filtered_df
total_tickets_per_login = filtered_df.groupby('login')['ticket'].count()

buy_tickets_per_login = filtered_df[filtered_df['cmd'] == 0].groupby('login')['ticket'].size().astype('int64').fillna(0)
percentage_buys = (buy_tickets_per_login / total_tickets_per_login) * 100

average_volume_per_login = filtered_df.groupby('login')['volume'].mean()
average_volume_usd_per_login = filtered_df.groupby('login')['volume_usd'].mean()

average_open_price_per_login = filtered_df.groupby('login')['open_price'].mean()
average_close_price_per_login = filtered_df.groupby('login')['close_price'].mean()

average_tp_per_login = filtered_df.groupby('login')['tp'].mean()
average_sl_per_login = filtered_df.groupby('login')['sl'].mean()

average_commission_per_login = filtered_df.groupby('login')['commission'].mean()
average_swaps_per_login = filtered_df.groupby('login')['swaps'].mean()
average_profit_per_login = filtered_df.groupby('login')['profit'].mean()

reason_per_login = filtered_df.groupby('login')['reason'].apply(lambda x: x.value_counts().idxmax())

In [33]:
# Creating a DataFrame from the series
result_dataframe = pd.DataFrame({
    'Total_Trades' : total_tickets_per_login,
    'Buy_Percentage': percentage_buys, 
    'Average_volume': average_volume_per_login,
    'Average_volume_usd': average_volume_usd_per_login,
    'Average_Open_Price': average_open_price_per_login,
    'Average_Close_Price': average_close_price_per_login,
    'Average_take_profit': average_tp_per_login,
    'Average_stop_loss': average_sl_per_login,
    'Trading_Method' : reason_per_login,
    'Average_Commision' : average_commission_per_login,
    'Average_Swaps' : average_swaps_per_login,
    'Average_Profit' : average_profit_per_login,
})

In [34]:
# Filter out the dataset
result_dataframe = result_dataframe[result_dataframe['Trading_Method'].isin([0, 1, 5])]

# Rename the codes to strings
result_dataframe['Trading_Method'] = result_dataframe['Trading_Method'].map({0: 'Client', 1: 'Expert', 5: 'Mobile'})

# Filter out data where Total_Trades is less than 0
result_dataframe = result_dataframe[result_dataframe['Total_Trades'] >= 0]

# Merging the last trade time from the unfiltered dataset
result_dataframe = result_dataframe.merge(last_trade_time_per_login, on='login', how='left', suffixes=('', '_last_trade'))

# Rename the record in the DataFrame
result_dataframe = result_dataframe.rename(columns={'close_time': 'last_date_traded'})

# Convert 'activity_duration' to datetime
result_dataframe['last_date_traded'] = pd.to_datetime(result_dataframe['last_date_traded'])

# Calculate the days since endDate
result_dataframe['activity_duration'] = (result_dataframe['last_date_traded'] - endDate).dt.days

# Replace negative activity_duration with 0
result_dataframe['activity_duration'] = result_dataframe['activity_duration'].apply(lambda x: max(x, 0))

# Categorize 'activity_duration' into longevity classes
result_dataframe['longevity'] = pd.cut(result_dataframe['activity_duration'],
                                       bins=[-1, 60, 120, 180, float('inf')],
                                       labels=[0, 1, 2, 3],
                                       right=True,
                                       include_lowest=True).astype(int)

# Remove 'last_date_traded' column
result_dataframe.drop(columns=['last_date_traded'], inplace=True)

# Fill NaN values with appropriate strategy (mean, median, etc.)
result_dataframe.fillna(0, inplace=True)

In [35]:
result_dataframe.dtypes

Total_Trades             int64
Buy_Percentage         float64
Average_volume         float64
Average_volume_usd     float64
Average_Open_Price     float64
Average_Close_Price    float64
Average_take_profit    float64
Average_stop_loss      float64
Trading_Method          object
Average_Commision      float64
Average_Swaps          float64
Average_Profit         float64
activity_duration        int64
longevity                int32
dtype: object

In [39]:
# Merge the two dataframes on the 'login' column
final_dataset = pd.merge(login_dataframe, result_dataframe, on='login', how='inner')

# Display the merged dataframe
final_dataset.head()

,login,country,reg_date,Total_Trades,Buy_Percentage,Average_volume,Average_volume_usd,Average_Open_Price,Average_Close_Price,Average_take_profit,Average_stop_loss,Trading_Method,Average_Commision,Average_Swaps,Average_Profit,activity_duration,longevity
0,519158,Zambia,1655475381,1,100.000000,0.010000,3.433411e+07,132.192000,130.900000,133.74500,130.945000,Client,-0.07,0.560000,-9.870000,0,0
1,519207,France,1655715092,1,100.000000,2.000000,1.596224e+05,3997.730000,3983.390000,4027.00000,3983.000000,Mobile,0.00,-0.930000,-265.780000,89,1
2,519313,Canada,1655956523,7,42.857143,2.147143,6.984269e+09,88.462141,88.482553,88.27824,88.471959,Client,-15.03,0.000000,-99.940000,302,3
3,519412,United Kingdom,1656311276,1,100.000000,0.010000,2.172370e+03,1.085790,1.086580,1.08657,1.085030,Mobile,0.00,0.000000,0.640000,286,3
4,519585,Colombia,1656648862,15,60.000000,0.032667,7.285375e+03,6761.099435,6749.255945,5405.12759,5303.866075,Mobile,0.00,0.027333,-7.833333,0,0

In [40]:
final_dataset.tail()

,login,country,reg_date,Total_Trades,Buy_Percentage,Average_volume,Average_volume_usd,Average_Open_Price,Average_Close_Price,Average_take_profit,Average_stop_loss,Trading_Method,Average_Commision,Average_Swaps,Average_Profit,activity_duration,longevity
1252,88944882,Singapore,1673424058,1,0.000000,0.100000,4.177277e+08,160.631000,160.572000,0.000000,161.400000,Client,0.0,0.000000,5.960000,78,1
1253,88944890,Belgium,1673436681,14,78.571429,0.719286,1.426636e+08,7.997028,7.972474,0.104001,7.901241,Mobile,0.0,0.098571,-60.494286,0,0
1254,88944921,Italy,1673462387,30,30.000000,0.029333,1.977200e+07,4285.877997,4283.075113,3028.671589,79.410280,Mobile,0.0,0.000000,-1.178333,287,3
1255,88944952,Barbados,1673491740,31,35.483871,0.058710,4.255593e+07,10962.567285,10953.856557,2182.282438,2197.689202,Mobile,0.0,-0.130323,-6.044839,49,0
1256,88944953,Canada,1673491960,38,28.947368,0.053947,2.303618e+07,313.437965,313.399660,2.554737,0.028526,Mobile,0.0,-0.011316,-0.340789,369,3

In [44]:
#final_dataset.to_csv('dataset.csv', index=False)